{% extends 'master/base.html' %}

{% block container %}

 <div class="container">
    <div class="row" style="margin-top:2%;">
      <h1 style="font-size:20px;">Hotel recommended  for you</h1>
      <section class="flat-row padding-big">
        <div class="container">
          <div class="row">
            {% for hol in hotel %}
            <div class="col-md-4">
              <div class="content-pad">
                <div class="post-item row">
                  <div class="col-md-6 col-sm-12">
                    <div class="content-pad">
                      <div class="item-thumbnail">
                        <a href="#">
                          <img src="{{MEDIA_URL}}{{hol.image.url}}" style="height:200px;width:200px;overflow:hidden;" alt="image">
                          <span class="thumbnail-overlay">{{hol.location}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="content-pad">
                      <div class="item-content">
                        <h3 class="item-title">
                          <a href="#" title="Your Career Starts Here" class="main-color-1-hover">{{hol.name}}</a>
                        </h3>
                        <div class="shortcode-blog-excerpt">{{hol.description|truncatewords:20}}</div>
                        <div class="item-meta">
                          <a class="flat-button" href="{% url 'all_hotels:hotel' hol.id %}" title="Your Career Starts Here">DETAILS <i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--/post-item-->
              </div>

            </div>
            {% endfor %}

          </div>
        </div>
      </section>
    </div>
 </div>
 {% endblock %}
