{% extends 'master/base.html' %}
{% block title %} {{hotel.name}} {% endblock %}

  {% block container %}
  <div class="row">
    <div class="container">
      <div class="page-title full-color">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title-heading">
                <h2 class="title">{{hotel.name}}</h2>
              </div>

            </div>

          </div>
          </div>
          </div>
          <br>
          <div class="container">
          <div class="column is-mobile">
            <div class="column is-half is-offser-one-quarter">
            <font size="6">Reserve Now</font>
            <br>
            <form method="POST" role="form">
              <br>
                 {{form.as_p}}

                 {% csrf_token %}
              <button type="submit" class="btn btn-primary">Reserve</button>

              </form>
              {% if msg%}
              <div class="alert alert-success">
                {{msg}}
              </div>
              {% endif %}
              </div>
              </div>
    {% endblock %}
