{% extends 'master/base.html' %}
{% load staticfiles %}
{% block container %}
<div class="page-title full-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h2 class="title">Team Member</h2>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><a href="#">Home </a></li>
                        <li>\ Member</li>
                    </ul>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /page-title -->
<section class="flat-row padding-small-v1">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="project-listing">

                    <div class="project-portfolio v1">
                        <div class="item d">
                            <div class="thumb-item">
                                <div class="item-thumbnail">
                                    <a href="#"><img src="{% static 'images/saurav.jpg' %}" alt="image"></a>
                                </div><!-- /item-thumbnail -->

                                <div class="item-content">
                                    <h3 class="item-title">
                                        <a href="#">Saurav Raj Pant</a>
                                    </h3>
                                    <h4 class="small-text">Student</h4>
                                    <p>Studies Computer Engineering at Institute Of Enginering.</p>
                                    <ul class="list-inline social-light">
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div><!-- /item-content -->
                            </div><!-- /thumb-item -->
                        </div><!-- /item -->

                        <div class="item j">
                            <div class="thumb-item">
                                <div class="item-thumbnail">
                                    <a href="#"><img src="{% static 'images/Bhuwan.jpg' %}" alt="image"></a>
                                </div><!-- /item-thumbnail -->

                                <div class="item-content">
                                    <h3 class="item-title">
                                        <a href="#">Bhuwan Joshi</a>
                                    </h3>
                                    <h4 class="small-text">Student</h4>
                                    <p>Studies Computer Engineering at Institute Of Enginering.</p>
                                    <ul class="list-inline social-light">
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div><!-- /item-content -->
                            </div><!-- /thumb-item -->
                        </div><!-- /item -->

                        <div class="item j">
                            <div class="thumb-item">
                                <div class="item-thumbnail">
                                    <a href="#"><img src="{% static 'images/Bijay.jpg' %}" alt="image"></a>
                                </div><!-- /item-thumbnail -->

                                <div class="item-content">
                                    <h3 class="item-title">
                                        <a href="#">Bijay Niroula</a>
                                    </h3>
                                    <h4 class="small-text">Student</h4>
                                    <p>Studies Computer Engineering at Institute Of Enginering.</p>
                                    <ul class="list-inline social-light">
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div><!-- /item-content -->
                            </div><!-- /thumb-item -->
                        </div><!-- /item -->

                        <div class="item j">
                            <div class="thumb-item">
                                <div class="item-thumbnail">
                                    <a href="#"><img src="{% static 'images/Shankar.jpg' %}" alt="image"></a>
                                </div><!-- /item-thumbnail -->

                                <div class="item-content">
                                    <h3 class="item-title">
                                        <a href="#">Shankar Bhandari</a>
                                    </h3>
                                    <h4 class="small-text">SENIOR LECTURER - MARKETING</h4>
                                    <p>Studies Computer Engineering at Institute Of Enginering.</p>
                                    <ul class="list-inline social-light">
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="btn btn-default social-icon" href="#"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div><!-- /item-content -->
                            </div><!-- /thumb-item -->
                        </div><!-- /item -->

                    </div>
                </div>
            </div><!-- /col-md-9 -->
        </div>
    </div>
</section>
{% endblock %}
