{% load static %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Hotels - Compare, Reserver, Rate </title>

  <meta name="author" content="themesflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.css' %}">

  <!-- Theme Style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">

  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/responsive.css' %}">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/colors/color1.css" id="colors' %}">

  <!-- Animation Style -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animate.css' %}">

</head>
<body class="header-sticky">
  <div class="boxed">
    <div class="menu-hover">
      <div class="btn-menu">
        <span></span>
      </div><!-- //mobile menu button -->
    </div>

    {% include 'partials/header_inner.html' %}
    {% include 'partials/header.html' %}
  {% block container %}


     {% endblock %}
    <!-- Javascript -->

    <script type="text/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.easing.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascript/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery-waypoints.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.tweet.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.matchHeight-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery-validate.js' %}"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="{% static 'javascript/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/slider.js' %}"></script>



  </div>
</body>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4"  style="background-color:black;">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fa fa-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright<br>
      <p>created by:</p>
      <a href="https://www.facebook.com/saurav.pant.148">bhuwan_bijay_saurav_shankar</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</html>
